

 

  .navbar-expand-lg .navbar-nav .nav-link {
    color: #000000;
    font-size: 15px;
  }
  

  .custom-toggler.navbar-toggler {
    border: transparent;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media only screen and (min-width: 1000px) {

  .navbar {

    padding: 40px 0;

    &-brand {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

  }

  .navbar-expand-lg .navbar-nav .nav-link {
 
    padding-left: 0;
    padding-right: 50px;
  }

}